@charset "UTF-8";

.sobre {
    text-align      : center;
    padding         : 40px 20px;
    background-image: linear-gradient(to bottom, #cccccc, #aaa7a7);
}

iframe {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.623);
}

@media screen and (max-width:650px) {
    iframe{
        width: 100%;
        height: 300px;
    }
}