@charset "UTF-8";

.games {
    padding   : 40px 20px 0px 20px;
    display   : flex;
    flex-wrap : wrap;
    margin-top: -5px;
    background-image: linear-gradient(to bottom, #cccccc3d, #cccccc86);
}

@media screen and (max-width:1250px) {
    .games{
        padding: 40px 0px;
    }
}