@charset "UTF-8";

.produto__detalhes {
    padding: 30px 10px;
}
.produto__detalhes:hover{
    color:#FF6A00;
}
.produto__detalhes:hover .produto__titulo{
    font-size:1.6em;
}

@media screen and (max-width:850px) {
    
    .produto__detalhes:hover .produto__titulo{
        font-size:1.3em;
    }
}