@charset "UTF-8";

.rodape__link {
    text-decoration: none;
    font-size      : 1.1em;
    margin-left    : 10px;
    color          : black;

}

.rodape__link:hover {
    text-decoration: underline;
    color          : white;
}

@media screen and (max-width:400px) {
    .rodape__link{
        font-size  : 1em;
    }
}